@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}




.scroll-up-btn {
  position: fixed;
  width: 35px;
  height: 35px;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #006494;
  border-radius: 6px;
  font-size: 30px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn.show:hover {
  opacity: .5;
}


/* 
===================================================
! SESSÃO NAVBAR !
===================================================
*/

.menu-navBar {
  background: #13293D;
  transition: .5s;
}

li {
  list-style: none;
}

a {
  color: #fff;
}

.navbar {
  position: fixed;
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 34px;
  z-index: 5;
  transition: all 0.3s ease;

}

.navbar.sticky {
  background: #13293D;
  transition: .5s;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2%;
  animation: bg 2s infinite;

}

.navbar .logo span {
  color: #006494;
  animation: bg2 2s infinite;
}

@keyframes bg {
  50% {
    color: #006494;
  }
}

@keyframes bg2 {
  50% {
    color: white;
  }
}

.navbar.sticky .logo span {
  color: #fff;
  animation: none;
  animation: bg3 2s infinite;
}

@keyframes bg3 {
  50% {
    color: #006494;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
  padding-left: 23.5%;
}

.nav-link {
  transition: 0.5 ease;
}

.nav-link:hover {
  color: #006494;
}

.hamburguer {      
  display: none;
  cursor: pointer;
  padding-left: -80%;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
  align-items: center;
}

/* 
===================================================
! SESSÃO INICIO !
===================================================
*/

.home {
  background-image: url("../images/fundo-inicio.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  transition: .5s;
}

.homeUser .home-content {
  position: absolute;
  top: 35%;
  left: 35%;
  right: 35%;
  text-align: center;
}

.homeUser .home-content .text-1 {
  color: #fcfcfc;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;

}

.homeUser .home-content .text-2 {
  color: rgb(255, 255, 255);
  margin: 20px 0px 20px;
  font-size: 75px;
  animation: bg 2s infinite;
  text-align: center;
}

.homeUser .home-content .text-2 span {
  color: #006494;
  animation: bg2 2s infinite;
  text-align: center;
}

@keyframes bg {
  50% {
    color: #006494;
  }
}

@keyframes bg2 {
  50% {
    color: white;
  }
}

.home-content .text-3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;

}

.home-content .text-3 span {
  color: #feffff;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  position: relative;
  color: #E8F1F2;
  font-size: 25px;
  top: -30px;
  padding: 12px 36px;
  border-radius: 6px;
  background-color: #247ba057;
  border: 2px solid #333;
  text-align: center;
}

.home .home-content a:hover {
  background-color: #006494;
  color: #ddf0e8;
}

.iconMode {
  width: 45px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 60px;
  position: relative;
  cursor: pointer;
  margin-left: 30%;
  margin-right: -30%;
}

.iconMode::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: left .5s;
  content: "\f186";
  font-family: fontAwesome;
  font-size: 19px;
  color: #000;
}

.home.dark .iconMode::before {
  left: 19px;
  content: "\f185";
  color: #fcfc;
}

/* 
===================================================
! SESSÃO SOBRE !
===================================================
*/

.about {
  background-image: url("../images/fundo-sobre.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 10px 0px;
  transition: .5s;
}

.about-text {
  width: 550px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 900px;
  margin: 0 auto;
  margin-top: 140px;
}

.about-text h2 {
  color: #ffffff;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
}

.about-text h5 {
  color: #FFF;
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 25px;
  text-transform: capitalize;
  text-align: center;

}

.about-text p {
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 45px;
  text-align: center;
  background-color: #00000041;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}


/* 
===================================================
! SESSÃO PROJETOS !
===================================================
*/
.project {
  background-image: url("../images/fundo-projeto.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
  transition: .5s;
}

.project-text h2 {
  color: #ffffff;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
}

.project-text h5 {
  color: #FFF;
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 50px;
  text-transform: capitalize;
  text-align: center;

}

.project-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
}

.cards {
  background-color: #191919;
  height: 365px;
  width: 335px;
  border-radius: 20px;
  margin: 8px;
  margin-top: -50px;
  position: relative;
  overflow: hidden;
  text-align: center;
  opacity: .7;
}

.cards:hover {
  background-color: #006594c5;
  opacity: 1;
}

.cards svg {
  color: #fcfc;
  padding-top: 25px;

}

.cards h5 {
  color: #FFF;
  font-size: 23px;
  margin-top: 10px;
}

.cards p {
  color: #fcfc;
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-align: center;
}

/* BOTAO */
.project-content a {
  display: inline-block;
  position: relative;
  color: #E8F1F2;
  font-size: 20px;
  padding: 10px 35px;
  margin-top: 10px;
  border-radius: 6px;
  background-color: #247ba057;
  border: 2px solid #333;
  text-align: center;
}

.project-content a:hover {
  background-color: #222;
  color: #ddf0e8;
  border: 2px solid #006494;
}

/* 
===================================================
! SESSÃO CONTATOS !
===================================================
*/
.contact {
  background-image: url("../images/fundo-contact.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
  transition: .5s;
}

.contact-text {
  width: 550px;
}

.contact-content {
  display: flex;
  width: 900px;
  margin: 0 auto;
  margin-top: 140px;
  justify-content: center;
  align-items: center;
}

.contact-text h2 {
  color: #ffffff;
  font-size: 60px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
}

.contact-text h5 {
  color: #FFF;
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 25px;
  text-transform: capitalize;
  text-align: center;
}

.contact-content ul {
  position: relative;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.contact-content ul li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.contact-content ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.contact-content ul li::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.contact-content ul li:hover::before {
  opacity: 1;
}

.contact-content ul li::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
  filter: blur(15px);
}

.contact-content ul li:hover::after {
  opacity: 0.5;
}

.contact-content ul li i {
  color: #fcfc;
  font-size: 1.75em !important;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.contact-content ul li:hover i {
  transform: scale(0);
  font-size: 1.75em;
  transition-delay: 0.25s;
}

.contact-content ul li span {
  position: absolute;
}

.contact-content ul li .titulo {
  color: #fff;
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.contact-content ul li:hover .titulo {
  transform: scale(1);
  transition-delay: 0.25s;
}

/* 
===================================================
! SESSÃO FOOTER !
===================================================
*/
footer {
  background: #006594dc;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
  margin-top: -52px;
  font-size: 12px;
  transition: .5s;
}

footer span {
  color: #fcfc;
  text-decoration: none;
}

/* 
===================================================
!RESPONSIVIDADE!
===================================================
*/
@media (max-width: 1355px) {
  .navbar .logo {
    font-size: 2rem;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 23%;
  }

  .about-content {
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    transform: none;
  }

  .about-text h2 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
    align-items: center;
  }

  .about-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

  }

  .about-text p {
    font-size: 15px;
    text-transform: capitalize;
    align-items: center;
  }

}

@media (max-width: 1260px) {
  .navbar .logo {
    font-size: 1.9rem;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 22%;
  }

  .about-content {
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    transform: none;
  }

  .about-text h2 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
    align-items: center;
  }

  .about-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

  }

  .about-text p {
    font-size: 15px;
    text-transform: capitalize;
    align-items: center;
  }


  .cards {
    background-color: #191919;
    height: 340px;
    width: 310px;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    opacity: .7;
  }


  .project-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
  }

  .project-text h2 {
    color: #ffffff;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 40px;
    text-align: center;
  }

}

@media (max-width:1195px) {
  .navbar .logo {
    font-size: 1.7rem;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 21.5%;
  }

  .cards {
    background-color: #191919;
    height: 340px;
    width: 310px;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    opacity: .7;
  }

  .iconMode {
    width: 45px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    margin-left: 19%;
    margin-right: -19%;
  }
}

@media (max-width:1065px) {
  .home {
    background-image: url("../images/fundo-tablet.jpg");
    background-size: cover;
  }

  .homeUser .home-content {
    top: 30%;
    left: 25%;
    right: 25%;
    text-align: center;
  }

  .homeUser .home-content .text-1 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: center;
  }

  .homeUser .home-content .text-2 {
    color: rgb(255, 255, 255);
    font-size: 60px;
  }

  .home-content .text-3 {
    color: #fff;
    font-size: 15px;
    margin-top: 5%;
  }

  .home .home-content a {
    font-size: 20px;
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 19%;
  }

  .about {
    background-image: url("../images/fundo-sobre.jpg");
    background-size: cover;
  }

  .about-content {
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    transform: none;
  }

  .about-text h2 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
    align-items: center;
  }

  .about-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

  }

  .about-text p {
    font-size: 15px;
    text-transform: capitalize;
    align-items: center;
  }

  .cards {
    background-color: #191919;
    height: 315px;
    width: 295px;
    border-radius: 20px;
    margin: 2px;
    position: relative;
    overflow: hidden;
    text-align: center;
    opacity: .7;
  }

  .cards svg {
    width: 70px;
    height: 70px;
    color: #fcfc;
    padding-top: 25px;
  }

  .cards h5 {
    color: #FFF;
    font-size: 20px;
    margin-top: 10px;
  }

  .cards p {
    color: #fcfc;
    font-size: 13px;
    line-height: 25px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
  }

  .project-content a {
    display: inline-block;
    position: relative;
    color: #E8F1F2;
    font-size: 20px;
    padding: 7px 30px;
    margin-top: 30px;
    border-radius: 6px;
    background-color: #247ba057;
    border: 2px solid #333;
    text-align: center;
  }

  .about-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

  }

  .project-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: capitalize;
    text-align: center;
  }

  .project-text h2 {
    color: #ffffff;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (max-width:950px) {
  .navbar .logo {
    font-size: 1.5rem;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 17%;
  }

  .cards {
    background-color: #191919;
    height: 310px;
    width: 270px;
    border-radius: 20px;
    margin: 2px;
    position: relative;
    overflow: hidden;
    text-align: center;
    opacity: .7;
  }

  .project-content a {
    display: inline-block;
    position: relative;
    color: #E8F1F2;
    font-size: 20px;
    padding: 7px 30px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #247ba057;
    border: 2px solid #333;
    text-align: center;
  }

  .contact-content {
    display: flex;
    width: 420px;
    margin: 0 auto;
    margin-top: 140px;
    justify-content: center;
    align-items: center;
  }

  .contact-text h2 {
    color: #ffffff;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

  }

  .contact-content ul li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }

}

@media (max-width:835px) {
  .logo {
    display: none;
  }

  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar.dark .nav-menu {
    background-color: #27242ce1;
  }

  .nav-menu {
    position: fixed;
    padding-left: 0;
    padding-right: 0;
    left: -100%;
    top: 70px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #101026fa;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
    z-index: 5;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .project {
    background-image: url("../images/projeto-celular.jpg");
    background-size: cover;
    width: 100%;
    height: 140vh;
  }

  .iconMode {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 3px;
  }

  .iconMode::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: 1px;
    top: 10px;
    transition: .5s;
    content: "\f186";
    font-family: fontAwesome;
    font-size: 18.5px;
    color: #000;
  }

  .home.dark .iconMode::before {
    left: 2px;
    top: 11px;
    font-size: 17px;
    content: "\f185";
    color: #fcfc;
  }

}

@media (max-width:768px) {
  .homeUser .home-content {
    top: 30%;
    left: 25%;
    right: 25%;
    text-align: center;
  }

  .homeUser .home-content .text-1 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 15px;
    left: 10px;
    text-align: center;
  }

  .homeUser .home-content .text-2 {
    font-size: 50px;
  }

  .home-content .text-3 {
    color: #fff;
    font-size: 11px;
    margin-top: -5%;
  }

  .home .home-content a {
    font-size: 12px;
    margin-top: -3%;
  }

  .contact-content {
    display: flex;
    width: 385px;
    margin: 0 auto;
    margin-top: 140px;
    justify-content: center;
    align-items: center;

  }

  .contact-text h2 {
    color: #ffffff;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

  }

  .contact-content ul li {
    position: relative;
    list-style: none;
    width: 35px;
    height: 35px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }

  .contact {
    /* background-color: #222; */
    background-image: url("../images/contact-celular.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 100px 0px;
  }
}

@media (max-width: 600px) {
  .project {
    background-image: url("../images/projeto-celular.jpg");
    background-size: cover;
    width: 100%;
    height: 185vh;
  }

  .cards {
    background-color: #191919;
    height: 325px;
    width: 305px;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    opacity: .7;
  }

  .project-text h2 {
    color: #ffffff;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: center;
  }

  .project-content a {
    display: inline-block;
    position: relative;
    color: #E8F1F2;
    font-size: 20px;
    padding: 7px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #333;
    text-align: center;
  }

  .cards p {
    color: #fcfc;
    font-size: 13px;
    line-height: 25px;
    margin-top: 15px;
    letter-spacing: 1px;
    text-align: center;
  }


  footer {
    background: #006594dc;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
    margin-top: -53px;
    font-size: 13px;
  }
}

@media (max-width:500px) {
  .home {
    background-image: url("../images/fundo-celular.jpg");
    background-size: cover;
  }

  .home .home-content a {
    font-size: 10px;
    margin-top: -3%;
  }

  .homeUser .home-content .text-2 {
    color: rgb(255, 255, 255);
    animation: bg 2s infinite;
  }

  .homeUser .home-content .text-2 span {
    color: #4d93e2;
    animation: bg2 2s infinite;

  }

  @keyframes bg {
    50% {
      color: #4d93e2;
    }
  }

  @keyframes bg2 {
    50% {
      color: white;
    }
  }

  .about-content {
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    transform: none;
  }

  .about-text h2 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 20px;
    text-transform: capitalize;
    align-items: center;
  }

  .about-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
  }
  .about-text p {
    font-size: 12px;
    align-items: center;
  }


  .cards {
    background-color: #191919;
    height: 300px;
    width: 250px;
    border-radius: 20px;
    margin: 3px;
    position: relative;
    overflow: hidden;
    text-align: center;
    opacity: .7;
  }

  .project-content a {
    display: inline-block;
    position: relative;
    color: #E8F1F2;
    font-size: 13px;
    padding: 7px 30px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px solid #333;
    text-align: center;
  }

  .project-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
  }

  .contact-content {
    display: flex;
    width: 300px;
    margin: 0 auto;
    margin-top: 140px;
    justify-content: center;
    align-items: center;

  }

  .contact-content ul li {
    position: relative;
    list-style: none;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;

  }

  .contact-content ul li i {
    color: #fcfc;
    font-size: 1.5em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
  }

  .contact-content ul li:hover {
    width: 100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  }

  .contact-text h5 {
    color: #FFF;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

  }

  footer {
    background: #006594dc;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
    margin-top: -51px;
    font-size: 10px;
  }
}

/* 
================================
  ! DARK MODE !
================================
*/

body::-webkit-scrollbar-thumb {
  background-color: rgb(87, 83, 83); 
  color: #222;
}

body::-webkit-scrollbar {
  width: 10px;               
} 
body::-webkit-scrollbar-thumb {
  background-color: rgb(87, 83, 83); 
}
::-webkit-scrollbar-track {
  background:#333;
}

.scrollDark.dark .scroll-up-btn {
  background: #222;
  transition: .5s;
}

.navbar.sticky.dark {
  background: #222;
  transition: .5s;
}

.navbar.dark .nav-link:hover {
  color: #4e4b53;
}

.navbar.dark .logo {
  animation: none;
  transition: .5s;

}

.navbar.dark .logo span {
  color: #4e4b53;
  animation: none;
}

.home.dark {
  background: url("../images/darkmode/inicio-dark.jpg");
  background-size: cover;
  transition: .5s;
}

.home.dark .home-content .text-2 {
  color: #4e4b53;
  animation: none;
}

.home.dark .home-content .text-2 span {
  color: #fff;
  animation: none;
}

.home.dark .home-content a {
  background-color: #222;
  border: 2px solid #ffffff0e;
}

.home.dark .home-content a:hover {
  background-color: #4e4b53;
}

.about.dark {
  background: url("../images/darkmode/sobre-dark.jpg");
  background-size: cover;
  transition: .5s;
}

.about.dark .about-text p {
  color: #fff;
}

.project.dark {
  background: #0d0d0d;
  transition: .5s;
}

.project.dark .cards {
  background-color: #191919;
}

.project.dark .cards:hover {
  background-color: #3e3c42;
  opacity: 1;
}

.project.dark .cards svg {
  color: #fff;

}

.project.dark .cards p {
  color: #fff;
}

.project.dark .project-content a {
  background-color: #222;
  border: 2px solid #ffffff0e;
}

.project.dark .project-content a:hover {
  background-color: #4e4b53;
}

.contact.dark {
  background: url("../images/darkmode/contato-dark.jpg");
  background-size: cover;
  transition: .5s;
}

.contact.dark .contact-content ul li::before {
  background: #222;
}

.contact.dark .contact-content ul li::after {
  background: #222;
}

.footer.dark {
  background: #222;
  transition: .5s;
}

footer span {
  color: #fff;
  text-decoration: none;
}
